.cartIcon {
    z-index: 1;
    padding: 10px;
    color: white;
    cursor: pointer;
    position: fixed;
    text-align: center;
}

.icon {
    width: 25px;
    height: 25px;
    line-height: 1;
    display: block;
    position: relative;
    box-sizing: content-box;
}

.icon--stroke svg {
    stroke: white;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.icon--stroke svg {
    stroke-width: 1px;
    fill: transparent;
}

svg:not(:root) {
    overflow: hidden;
}

[tooltip]::before {
    content: attr(tooltip);
    position: absolute;
    bottom: 85%;
    left: 30%;
    height: 15px;
    opacity: 0;
    z-index: 1;
    font-size: 13px;
    color: white;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
    padding: 4px 11px 3px 11px;
    transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
}

[tooltip]:hover::before {
    opacity: 1;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: .3px;
    visibility: visible;
}

.menu-open #bodyGrayOverlay {
    display: block;
}

.menu-open .wrapperCartMenu {
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    transition: all 0.8s cubic-bezier(.25, 1, .5, 1);
}

.removeFromCart {
    color: black;
}

.cartHeadline {
    height: 10vh;
    width: 100%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}

.cartHeadlinePriceTotal {
    width: 150px;
    margin: 1.1rem 0;
    font-size: 50px;
    font-weight: 400;
    font-size: 2rem;
    color: #313942;
    font-family: "Saol";
    text-transform: uppercase;
}

.viewCartHeadline {
    width: 150px;
    padding: 13px;
    font-size: 15px;
    font-weight: 200;
    border-radius: 3px;
    color: black;
    text-align: center;
    display: inline-block;
    border: 1px solid hsl(0, 0%, 73%);
    font-family: "TheinhardtPan-Regular", sans-serif;
    transition: all 0.36s cubic-bezier(.25, 1, .5, 1);
}

.checkOutHeadline {
    width: 150px;
    padding: 13px;
    font-size: 15px;
    font-weight: 200;
    border-radius: 3px;
    color: white;
    text-align: center;
    display: inline-block;
    background-color: #000;
    border: 1px solid black;
    font-family: "TheinhardtPan-Regular", sans-serif;
    transition: all 0.36s cubic-bezier(.25, 1, .5, 1);
}

.viewCartHeadline:hover {
    background-color: hsl(32, 10%, 90%);
}

.checkOutHeadline:hover {
    color: black;
    font-weight: 500;
    background-color: hsl(32, 100%, 97%);
}

.ulCart {
    padding: 5%;
    height: 73vh;
    width: 100%;
    overflow-y: auto;
}

.wrapperCartMenu::-webkit-scrollbar {
    display: none;
}

.ulCart::-webkit-scrollbar {
    display: none;
}

.wrapperCartMenu {
    top: 0;
    width: 43%;
    z-index: 10;
    right: -46%;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    background-color: white;
    overscroll-behavior: contain;
    transition: all 0.8s cubic-bezier(.25, 1, .5, 1);
}

.listCartItem {
    width: 100%;
    height: 200px;
    margin-top: .65em;
    display: flex;
    align-items: center;
    border-radius: 3.5px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .24);
}

.listCartItem:nth-child(1) {
    margin-top: .3em;
}

.imgProduct {
    width: 250px;
    height: 100%;
    position: relative;
    vertical-align: middle;
    border-right: 2px solid #D9D9D9;
}

.imgProduct img {
    top: 50%;
    left: 50%;
    width: 75%;
    object-fit: cover;
    position: absolute;
    mix-blend-mode: multiply;
    transform: translate(-50%, -50%);
}

.infoProduct {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftInfo {
    margin-left: 1rem;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
}

.productTittle {
    font-size: 1.4rem;
    font-weight: 400;
}

.productSize {
    margin-top: 1rem;
}

.rightInfo {
    margin-right: 1rem;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
}

.productPrice {
    display: block;
    font-size: 15px;
    line-height: 2.7;
    margin-bottom: .5rem;
    font-family: "TheinhardtPan-Regular", sans-serif;
}


/* ---  Cart Bottom Part  --- */

.bottom {
    padding: 0 5%;
    width: 100%;
    height: 17vh;
}

.shipping,
.cartTotal {
    margin-top: .8rem;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-between;
}

.label,
.value {
    font-weight: 100;
    font-size: .87rem;
    font-family: "TheinhardtPan-Regular", sans-serif;
}

.proceedToCheckout {
    margin-top: 1rem;
    width: 100%;
    padding: 17px;
    font-size: 15px;
    font-weight: 200;
    border-radius: 3px;
    color: white;
    text-align: center;
    display: inline-block;
    background-color: #000;
    border: 1px solid black;
    font-family: "TheinhardtPan-Regular", sans-serif;
    transition: all 0.36s cubic-bezier(.25, 1, .5, 1);
}

.proceedToCheckout:hover {
    color: black;
    font-weight: 500;
    background-color: hsl(32, 100%, 97%);
}

#bodyGrayOverlay {
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    position: fixed;
    transition: .4s;
    transition-duration: 200ms;
    background: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width:960px) {
    .wrapperCartMenu {
        width: 86%;
        right: -89%;
    }
}

@media screen and (max-width:450px) {
    .cartHeadline {
        height: 10vh;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #D9D9D9;
    }
    .cartHeadlinePriceTotal {
        width: 150px;
        margin: 1.1rem 0;
        font-size: 1rem;
        font-weight: 400;
        color: #313942;
    }
    .viewCartHeadline {
        width: 75px;
        padding: 3px;
        font-size: .7rem;
    }
    .checkOutHeadline {
        width: 75px;
        padding: 3px;
        font-size: .7rem;
    }
    .infoProduct {
        font-size: .7rem;
        padding: 0 0 0 10px;
    }
    .leftInfo {
        margin-left: 0rem;
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: space-between;
    }
    .productTittle {
        font-size: 1rem;
        font-weight: 400;
    }
    .productSize {
        margin-top: 2rem;
    }
    .rightInfo {
        margin-right: 1rem;
    }
    .removeFromCart {
        text-align: right;
    }
    .productPrice {
        font-size: .7rem;
        line-height: 1.9;
        margin-bottom: 2.2rem;
    }
}